#auladailyoverview {
    padding-bottom: 0px;
}
#auladailyoverview .name {
    width: 100%;
    background-color: #e9eef1;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 900;
}

#auladailyoverview .picture-container {
    padding: 30px;
    
    position: relative;
    border-right: 1px solid #e9eef1;
    
    display: block;
    font-weight: 400;
    line-height: 1.5;
    float: left;
}

#auladailyoverview .picture {
    width: 120px;
    height: 120px;
    display: block;
    float: left;
    position: relative;
}
#auladailyoverview .picture img
{
    position: absolute;
    z-index: 100;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    top: -1px;
    left: -1px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    max-width: 122px;
    max-height: 122px;
}

#auladailyoverview .status-icon
{
    background: #007a8d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 20px;
    z-index: 1030;
}

#auladailyoverview .status-icon svg
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    filter: invert(100%) sepia(8%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(101%);
}

#auladailyoverview .user-activities {
    padding: 40px 40px 20px;
    width: auto;
    margin-left: 170px;
    overflow: hidden;
    word-wrap: break-word;
}

#auladailyoverview .clearfix {
    content: "";
    clear: both;
    display: table;
}
